<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uri.part_search">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/database_search"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayListActivity">

        </activity>
        <activity android:name=".ResultsItem">

        </activity>
        <activity
            android:name=".Catalog">
        </activity>

        <activity
            android:name=".Order">
        </activity>
    </application>

</manifest>